In [1]:
import mysql.connector
import pprint
from mysql.connector.constants import ClientFlag
from mysql.connector.conversion import MySQLConverter
import pandas as pd

In [2]:
# check mysql connector version, API level, parameter style
mysql_version = mysql.connector.__version__ 
api_level = mysql.connector.apilevel
param_style = mysql.connector.paramstyle


print("MySQL Connector Python version: ",mysql_version )
print("\nAPI level :", api_level)
print("\nParameter style:",param_style)

MySQL Connector Python version:  8.0.26

API level : 2.0

Parameter style: pyformat

In [3]:
# connect mysql using configuration file
db = mysql.connector.connect(option_files="/home/kishor/sql/nb/my.ini")
connection_id = db.connection_id
print("Connection ID:",connection_id  )

Connection ID: 174

In [4]:
printer = pprint.PrettyPrinter(indent=1)
# download world.sql data
#https://dev.mysql.com/doc/index-other.html
# Query
res = db.cmd_query("""SELECT * FROM world.city WHERE ID = 5""")

print("Result from World Dictionary\n" + "="*35)
printer.pprint(res)

Result from World Dictionary
===================================
{'columns': [('ID', 3, None, None, None, None, 0, 49667),
             ('Name', 254, None, None, None, None, 0, 1),
             ('CountryCode', 254, None, None, None, None, 0, 16393),
             ('District', 254, None, None, None, None, 0, 1),
             ('Population', 3, None, None, None, None, 0, 32769)],
 'eof': {'status_flag': 16385, 'warning_count': 0}}

In [5]:
# Create connection to mysql using configuration file
db1 = mysql.connector.connect(option_files="/home/kishor/sql/nb/my.ini", use_pure=True)

#Query
result = db1.cmd_query("""SELECT Name, CountryCode, Population FROM world.city WHERE Population > 5000000
      ORDER BY Population DESC""")

# collect the rows limit to number of cities (10), 
(cities, eof) = db1.get_rows()

# Print the rows of particular population > 5000000 in descendibng order
print("")
print("" + "-"*47)
print("{0:15s}   {1:7s}   {2:3s}".format("City", "        Country", "Population"))
print("" + "-"*47)
for city in cities:
    print(
    "{0:23s}   {1:^7s}   {2:4.2f}".format(
      city[0],city[1],int(city[2])/1000000.0) )

print("" + "-"*47)

# write database in to dataframe 
df = pd.DataFrame(cities, columns =["City","Country","Population"])
df.head()

-----------------------------------------------
City                      Country   Population
-----------------------------------------------
Mumbai (Bombay)             IND     10.50
Seoul                       KOR     9.98
São Paulo                   BRA     9.97
Shanghai                    CHN     9.70
Jakarta                     IDN     9.60
Karachi                     PAK     9.27
Istanbul                    TUR     8.79
Ciudad de México            MEX     8.59
Moscow                      RUS     8.39
New York                    USA     8.01
Tokyo                       JPN     7.98
Peking                      CHN     7.47
London                      GBR     7.29
Delhi                       IND     7.21
Cairo                       EGY     6.79
Teheran                     IRN     6.76
Lima                        PER     6.46
Chongqing                   CHN     6.35
Bangkok                     THA     6.32
Santafé de Bogotá           COL     6.26
Rio de Janeiro              BRA     5.60
Tianjin                     CHN     5.29
Kinshasa                    COD     5.06
Lahore                      PAK     5.06
-----------------------------------------------

              City Country  Population
0  Mumbai (Bombay)     IND    10500000
1            Seoul     KOR     9981619
2        São Paulo     BRA     9968485
3         Shanghai     CHN     9696300
4          Jakarta     IDN     9604900

In [6]:
# using cursor, can be instantiated
cursor = db1.cursor()

# Execute the query
cursor.execute("""SELECT Name, CountryCode, Population FROM world.city WHERE Population > 5000000
      ORDER BY Population DESC""")

print("")
print("{0:15s}   {1:7s}   {2:3s}".format("City", "Country", "Population")) 
print("" + "-"*47)
while (city):
    print("{0:15s}   {1:^7s}   {2:4.1f}".format(city[0],city[1],city[2]/1000000.0) )
    city = cursor.fetchone()

#cursor.close()

City              Country   Population
-----------------------------------------------
Lahore              PAK      5.1
Mumbai (Bombay)     IND     10.5
Seoul               KOR     10.0
São Paulo           BRA     10.0
Shanghai            CHN      9.7
Jakarta             IDN      9.6
Karachi             PAK      9.3
Istanbul            TUR      8.8
Ciudad de México     MEX      8.6
Moscow              RUS      8.4
New York            USA      8.0
Tokyo               JPN      8.0
Peking              CHN      7.5
London              GBR      7.3
Delhi               IND      7.2
Cairo               EGY      6.8
Teheran             IRN      6.8
Lima                PER      6.5
Chongqing           CHN      6.4
Bangkok             THA      6.3
Santafé de Bogotá     COL      6.3
Rio de Janeiro      BRA      5.6
Tianjin             CHN      5.3
Kinshasa            COD      5.1
Lahore              PAK      5.1